.board {
    display: grid;
    grid-template-columns: repeat(7, var(--size));
    grid-template-rows: repeat(6, var(--size));
    position: relative;
}

.board div {
    background: url('../clip.svg');
}